@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&family=Roboto+Mono:wght@300;400;500;700&family=Roboto:wght@400;900&family=Source+Sans+Pro:wght@400;900&family=Twinkle+Star&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: #111827;
}
.container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding-inline-start: 0
}
.header {
  background: url('img/hero-bg.png') no-repeat bottom right;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
a {
  color: #111827;
  text-decoration: none;
}
.logo-section{
  padding:20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-btns > a:not(.toggle) {
  display: none;
}
.menu-section {
  display: none;
  width: 100%;
  padding:20px;
  background: #DED7FC;
  border-bottom: 1px solid #000;
}
.menu li {
  padding: 5px 0;
}
.menu li a {
  font-size: 14px;
  font-weight: 600;
  transition: all .2s ease-in;
}
.menu li a:hover{
  text-decoration: underline;
}
.menu-btns {
  padding-top: 10px;
}
nav.responsive .menu-section{
  display: block;
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  overflow: hidden;
}
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
}
.info {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #374151;
}
.btns {
  display: flex;
  padding: 40px 0;
}
.btn {
  height: 56px;
  padding: 15px 23px;
  border-radius: 8px;
  font-weight: 600;
  background: #7C3AED;
  color: #fff;
  border: 1px solid #7C3AED;
  transition: all .15s ease-in;
}
.btn:hover {
  background: transparent;
  color: #7C3AED;
}
.btn-video{
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 23px;
  border-radius: 8px;
  font-weight: 600;
  color: #7C3AED;
  transition: all .15s ease-in;
}
.btn-video img {
  padding-right: 5px;
}
.btn-video:hover {
  text-decoration: underline;
}
.clients {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.clients::before,
.clients::after {
  position: absolute;
  content: '';
  width: 94%;
  height: 1px;
  left: 50%;
  background-color: #E5E7EB;
}
.clients::before {
  top: 0;
  transform: translate(-50%,0);
}
.clients::after {
  top: 100%;
  transform: translate(-50%, 100%);
}
.client {
  padding: 16px 32px;
}
.features {
  display: flex;
  flex-direction: column;
  padding: 48px 20px;
}
.features .title,
.features .info {
  text-align: center;
}
.feature-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.feature {
  width: 100%;
  text-align: center;
  padding: 24px 20px;
}
.feature-title{
  padding: 20px 0 8px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.feature-text {
  font-weight: 400;
  line-height: 24px;
}
.testimonials{
  padding: 80px 20px;
  background: #D5FAFC;
}
.testimonials .container {
  position: relative;
}
.testimonials .container::after{
  position: absolute;
  content: '';
  left: -10px;
  top: -30px;
  width: 96px;
  height: 78px;
  z-index: 0;
  background: url('img/quote.svg') no-repeat;
  background-size: contain;
}
.testimonials .title {
  font-size: 30px;
}
.testimonials .info {
  font-size: 16px;
}
.testimonial-card {
  margin: 24px 0;
  padding: 32px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
}
.testimonial-content {
  position: relative;
  padding: 32px 0 0 32px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.testimonial-content::after{
  position: absolute;
  content: '';
  top: 32px;
  left: 0;
  width: 100%;
  height: 13px;
  background: url('img/quote-small.svg') no-repeat;
  z-index: 0;
}
.testimonial-content b {
  display: block;
  padding-top: 24px;
}
.testimonial-content span {
  font-size: 14px;
  line-height: 20px;
  color: #6B7280;
}
.footer{
  background: #000;
  color: #fff;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.footer .logo img {
  padding-bottom: 18px;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  padding: 6px 24px 6px 0;
}
.footer li a {
  color: #fff;
  line-height: 24px;
}
.copyright {
  padding: 18px 0;
  color: #d1d5db;
  font-size: 14px;
  line-height: 20px;
}
.footer-end {
  display: flex;
  flex-direction: column;
  padding: 14px 0 20px 0;
}
.footer-end>*{
  padding: 8px 0;
}
.footer-end p{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d1d5db;
}
@media(min-width:767px) {
  .logo-section{
    padding: 24px 20px;
  }
  .header-btns{
    display: flex;
  }
  .header-btns > a:not(.toggle) {
    display: block;
    padding: 0 6px;
  }
  .menu-section{
    padding: 24px 20px;
    border: none;
  }
  .menu-btns {
    display: none;
  }
  .hero {
    padding: 80px 40px;
  }
  .title {
  font-size: 48px;
  line-height: 60px;
  }
  .feature{
    width: 45%;
    padding: 32px;
  }
  .features .info {
    padding: 15px 32px;
  }
  .testimonials{
    padding: 120px 40px 80px 40px;
  }
  .testimonials .title{
    font-size: 36px;
    line-height: 45px;
  }
  .testimonials .info{
    font-size: 18px;
    line-height: 28px;
  }
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 40px;
  }
}
@media(min-width:1024px) {
  .logo-section {
    width: 15%;
  }
  .header-btns{
    display: none;
  }
  .menu-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background: transparent;
  }
  .menu ul {
    display: flex;
  }
  .menu ul li {
    padding: 0 10px;
  }
  .menu-btns{
    display: block;
  }
  .hero{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 72px 0;
  }
  .clients{
    padding: 40px 0;
  }
  .features .info{
    width: 70%;
    margin: auto;
  }
  .feature {
    width: 33.3%;
    padding: 32px 15px;
  }
  .feature-title{
    font-size: 30px;
    line-height: 40px;
  }
  .footer .container {
    padding: 64px 0;
  }
  .footer-first li a:hover {
    text-decoration: underline;
  }
}