@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&family=Roboto+Mono:wght@300;400;500;700&family=Roboto:wght@400;900&family=Source+Sans+Pro:wght@400;900&family=Twinkle+Star&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: #111827;
}
.container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding-inline-start: 0
}
.header {
  background: url('img/hero-bg.png') no-repeat bottom right;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
a {
  color: #111827;
  text-decoration: none;
}
.logo-section{
  padding:20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-btns > a:not(.toggle) {
  display: none;
}
.menu-section {
  display: none;
  width: 100%;
  padding:20px;
  background: #DED7FC;
  border-bottom: 1px solid #000;
}
.menu li {
  padding: 5px 0;
}
.menu li a {
  font-size: 14px;
  font-weight: 600;
  transition: all .2s ease-in;
}
.menu li a:hover{
  text-decoration: underline;
}
.menu-btns {
  padding-top: 10px;
}
nav.responsive .menu-section{
  display: block;
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  overflow: hidden;
}
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
}
.info {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #374151;
}
.btns {
  display: flex;
  padding: 40px 0;
}
.btn {
  height: 56px;
  padding: 15px 23px;
  border-radius: 8px;
  font-weight: 600;
  background: #7C3AED;
  color: #fff;
  border: 1px solid #7C3AED;
  transition: all .15s ease-in;
}
.btn:hover {
  background: transparent;
  color: #7C3AED;
}
.btn-video{
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 23px;
  border-radius: 8px;
  font-weight: 600;
  color: #7C3AED;
  transition: all .15s ease-in;
}
.btn-video img {
  padding-right: 5px;
}
.btn-video:hover {
  text-decoration: underline;
}
@media(min-width:767px) {
  .logo-section{
    padding: 24px 20px;
  }
  .header-btns{
    display: flex;
  }
  .header-btns > a:not(.toggle) {
    display: block;
    padding: 0 6px;
  }
  .menu-section{
    padding: 24px 20px;
    border: none;
  }
  .menu-btns {
    display: none;
  }
  .hero {
    padding: 80px 40px;
  }
  .title {
  font-size: 48px;
  line-height: 60px;
  }
}
@media(min-width:1024px) {
  .logo-section {
    width: 15%;
  }
  .header-btns{
    display: none;
  }
  .menu-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background: transparent;
  }
  .menu ul {
    display: flex;
  }
  .menu ul li {
    padding: 0 10px;
  }
  .menu-btns{
    display: block;
  }
  .hero{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 72px 0;
  }
}